@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.5)">
    <h1>Find your package.</h1>
    <p class="lead">Enter your package id.</p>
    <form method="post" action="~/Packages/Details/" id="PackageIdForm">
        Package ID:<br />
        <input type="text" name="Code" value="" /><br />

    </form>
    <button type="submit" form="PackageIdForm" value="Submit" class="btn btn-success">Submit</button>
</div>

